:root {
    --primary-color: #559636;
    --secondary-color: #041C43;
    --text-color: #8AB178;
    --secondary-text-color: #696969;
    --background-color: #F1F5F8;
    --secondary-background-color: #CAC8C8;
}