* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--background-color);
}

h1, h2, h3 {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.signup_form_container {
    width: 1000px;
    height: 600px;
    background: url("../image/pic/login_back_ground.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    box-shadow: 0px 0px 4px var(--primary-color);
    display: flex;
    justify-content: end;
    position: relative;
}

.form_container {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_wrapper {
    width: 450px;
    height: 400px;
    background-color: rgba(252, 250, 250, 0.8);
    border-radius: 20px;
    box-shadow: 1px 1xp 4px var(--primary-color);
    padding: 0px 30px;
}

.form_title {
    color: var(--primary-color);
    text-align: center;
    font-size: 25px;
}

.input_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.input_box input {
    border: 2px solid var(--primary-color);
    height: 40px;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    color: var(--primary-color);
}



.input_box label, .forgot_password_link, .singup_link {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
}

.forget_password {
    text-align: end;
    margin-bottom: 20px;
}

.forget_password .forgot_password_link {
    text-decoration: underline;
    font-size: 17px;
}

.form_btn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form_btn input {
    background-color: var(--secondary-color);
    color: #ffff;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    font-size: 18px;
    font-weight: 600;
}

.singup_link {
    font-size: 17px;
    text-align: center;
}

.singup_link a {
    color: var(--primary-color);
    text-decoration: underline;
}

.back_to_website_link {
    position: absolute;
    color: var(--primary-color);
    bottom: 30px;
    left: 50px;
}